
<div class="new_form">
<h2>Make a New List:</h2>
<%= form_for @list do |f| %>
<p><%= f.text_field :name, placeholder: "list name", class: "form-control" %></p>
<p><%= f.submit "Create List", class: "btn btn-success" %></p>
<% end %>
</div>