
<style>
html{
  background: url('/assets/study.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
    body {
            background: transparent;
        }



</style>

<div id="landing_forms" class="tab-content">

<div id='signin_tab' class='sign-in tab-pane fade in active'>
  <div class="text-center">
    <h2>Sign In</h2>

    <%= render :partial => '/sessions/form' %>
  </div>
</div>
</div>


<div id='signup_tab' class='sign-up tab-pane fade'>
  <div class="text-center">
  <h2>Sign Up</h2>

  <%= form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>

    <div class='submit-field'>
      <%= form.submit "Sign Up", :class => "btn btn-success" %>
    </div>

    <div class='other-links'>
      <a href="#signin_tab" data-toggle="tab">Already have an account? Sign in!</a>
    </div>
  <% end %>
</div>
</div>

</div>