.thumb {
  /*background-color: red;*/
  opacity: 0.3;
}

.thumb.up {
  /*background-color: green;*/
  opacity: 1;
}

.tab-content, .new_form {
  background: rgba(0,0,0,0.8);
  width: 50%;
  margin: 0 auto;
  margin-top: 20%;
  border-radius: 20px;
  padding: 1px 0 15px 0;
}

#landing_forms .form-control, .new_form .form-control {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#landing_forms .btn, .new_form .btn{
  margin-bottom: 10px;
  width: 60%;
}

#landing_forms, .new_form {
  max-width: 500px;
  min-width: 300px;
}

.new_form {
  text-align: center;
}

@media (min-width: 1000px) {
  .tab-content, .new_form {
    margin-top: 205px;
  }
}

.thumbrow {
  text-align: right;
}

table {
  background-color: #ecf0f1;
}

#user_select_user_id {
  margin-left: 20px;
}

#landing_forms h2, #landing_forms a {
  color: #fff;
}